*.o
*.core
core
anonmap
execbss
execdata
execheap
execstack
getamap
getamapbig
getarg1
getarg2
getexhaust1
getexhaust2
getfmap
getfmapbig
getheap1
getheap2
getmain1
getmain2
getmainbig
getshlib
getshlibbig
getshlibdelta1
getshlibdelta2
getstack1
getstack2
getvdso
mprotanon
mprotbss
mprotdata
mprotheap
mprotshbss
mprotshdata
mprotstack
paxtest
paxtest.log
randamap
randamapbig
randarg1
randarg2
randexhaust
randexhaust1
randexhaust2
randfmap
randfmapbig
randheap1
randheap2
randmain1
randmain2
randmainbig
randshlib
randshlibbig
randshlibdelta1
randshlibdelta2
randstack1
randstack2
rettofunc1
rettofunc1x
rettofunc2
rettofunc2x
randvdso
shlibbss
shlibdata
shlibtest.so
shlibtest2.so
shlibtestbig.so
writetext
chpax
paxtest.1
